{% extends 'base.html.twig' %}

{% block title %}Annonce index{% endblock %}

{% block body %}
    <h1>{{'Annonce'|trans}}</h1>
        <form action="{{ path('app_annonce_search') }}" method="GET">
            <input type="text" name="villeDep" placeholder="Entrez une adresse de départ" size ="50">
            <input type="text" name="Destination" placeholder="Entrez une destination" size ="50">
            <button type="submit">Rechercher</button>
        </form>
    <table class="table">
        <thead>
            <tr>
                <th>{{'id'|trans}}</th>
                <th>{{'AdresseDep'|trans}}</th>
                <th>{{'Destination'|trans}}</th>
                <th>{{'dateHeureDep'|trans}}</th>
                <th>{{'nbPlacesDispo'|trans}}</th>
                <th>{{'prix'|trans}}</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for annonce in annonces %}
            <tr>
                <td>{{ annonce.id }}</td>
                <td>{{ annonce.adresseDep }}</td>
                <td>{{ annonce.Destination }}</td>
                <td>{{ annonce.dateHeureDep ? annonce.dateHeureDep|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ annonce.nbPlacesDispo }}</td>
                <td>{{ annonce.prix }}</td>
                <td>
                    <a href="{{ path('app_annonce_show', {'id': annonce.id}) }}">show</a>
                    {% if app.user %}
                    <a href="{{ path('app_annonce_edit', {'id': annonce.id}) }}">edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if app.user %}
    <a href="{{ path('app_annonce_new') }}">{{'CreationNouveau'|trans}}</a>
    {% endif %}
{% endblock %}
