{% extends 'base.html.twig' %}

{% block title %}Annonce{% endblock %}

{% block body %}
    <h1>Annonce</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{{'id'|trans}}</th>
                <td>{{ annonce.id }}</td>
            </tr>
            <tr>
                <th>{{'AdresseDep'|trans}}</th>
                <td>{{ annonce.adresseDep }}</td>
            </tr>
            <tr>
                <th>{{'Destination'|trans}}</th>
                <td>{{ annonce.Destination }}</td>
            </tr>
            <tr>
                <th>{{'dateHeureDep'|trans}}</th>
                <td>{{ annonce.dateHeureDep ? annonce.dateHeureDep|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>{{'nbPlacesDispo'|trans}}</th>
                <td>{{ annonce.nbPlacesDispo }}</td>
            </tr>
            <tr>
                <th>{{'prix'|trans}}</th>
                <td>{{ annonce.prix }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_annonce_index') }}">{{'retour'|trans}}</a>

    <a href="{{ path('app_annonce_edit', {'id': annonce.id}) }}">{{'edit'|trans}}</a>

    {{ include('annonce/_delete_form.html.twig') }}
{% endblock %}
