{% extends 'base.html.twig' %}

{% block title %}Conducteur{% endblock %}

{% block body %}
    <h1>Conducteur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ conducteur.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ conducteur.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ conducteur.roles ? conducteur.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ conducteur.password }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_conducteur_index') }}">back to list</a>

    <a href="{{ path('app_conducteur_edit', {'id': conducteur.id}) }}">edit</a>

    {{ include('conducteur/_delete_form.html.twig') }}
{% endblock %}
