<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Co - voiturage{% endblock %}</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    {% block stylesheets %}{% endblock %}

    {% block javascripts %}{% endblock %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        {% if is_granted('ROLE_ADMIN') %}
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ path('app_annonce_index') }}">Menu Annonce</a>
                <a class="navbar-brand" href="{{ path('app_commentaire_index') }}">Menu Commentaire</a>
            </div>
        {% endif %}
        {% if is_granted('ROLE_USER') %}
            <div class="navbar-header">
              <a class="navbar-brand" href="{{ path('app_annonce_a_venir') }}">Annonces à venir</a>  
              {#  <a class="navbar-brand" href="{{ path('app_commentaire_user') }}">Menu Commentaire</a>#}
            </div>
        {% endif %}

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <div>
                        {% if not app.user %}
                            <a href="{{ path('app_register') }}" class="btn btn-default navbar-btn">S'inscrire</a>
                            <a href="{{ path('app_login') }}" class="btn btn-default navbar-btn">Se connecter</a>
                        {% endif %}
                        {% if app.user %}
                            <a href="{{ path('app_logout') }}" class="btn btn-default navbar-btn">Se deconnecter</a>
                        {% endif %}
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    {% block body %}{% endblock %}
</div>
</body>
</html>